.side-panel {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: small;
  color: #333;
  background-color: #f8f9fa;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  max-height: 90%;
}

.side-panel .title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
  color: #007bff;
}

.side-panel .input-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 5px;
}

.side-panel textarea {
  flex: 1;
  padding: 10px;
  margin-right: 10px;
  border-radius: 8px;
  height: 50px;
  min-height: 50px;
  resize: vertical;
  border: 1px solid #ddd;
  color: #333;
  background-color: #fff;
}

.side-panel .send-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 6px rgba(0, 123, 255, 0.3);
  transition:
    background-color 0.3s ease,
    transform 0.3s ease;
}

.side-panel .send-button:hover {
  background-color: #0056b3;
  transform: scale(1.1);
}

.side-panel .history-entry {
  background-color: #f1f3f5;
  padding-bottom: 10px;
  border-radius: 10px;
}

.side-panel .responseArea {
  flex: 1;
  background-color: #f1f3f5;
  border-radius: 10px;
  overflow-y: auto;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
}

.side-panel .prompt {
  align-self: flex-start;
  background-color: #e2e6ea;
  padding: 10px;
  border-radius: 10px;
  margin-right: 2%;
  margin-bottom: 10px;
  max-width: 96%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.side-panel .response {
  align-self: flex-end;
  background-color: #d1ecf1;
  padding: 10px;
  border-radius: 10px;
  margin-left: 1%;
  max-width: 96%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.side-panel .copy-button {
  font-size: 12px;
  border: 0;
  background-color: transparent;
  color: #007bff;
  cursor: pointer;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.side-panel .icon-svg {
  width: 20px;
  height: 20px;
}

.side-panel .icon-svg-large {
  width: 24px;
  height: 24px;
}

.side-panel .copy-button:hover,
.side-panel .thumbs-button:hover {
  color: #0056b3;
  border-radius: 50%;
  background-color: #e2e6ea;
}

.side-panel .thumbs-button {
  font-size: 12px;
  border: 0;
  background-color: transparent;
  color: #007bff;
  cursor: pointer;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.side-panel .button-container {
  display: flex;
  margin-top: 10px;
}


.side-panel-dark {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: small;
  color: #eee;
  background-color: #424242;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  box-shadow: 5px 0 5px rgba(0, 0, 0, 0.1);
  max-height: 90%;
}
.side-panel-dark .title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}
.side-panel-dark .input-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 5px;
}
.side-panel-dark textarea {
  flex: 1;
  padding: 10px;
  margin-right: 10px;
  border-radius: 8px;
  height: 50px;
  min-height: 50px;
  resize: vertical;
  color: #333;
  border: 1px solid #ddd;
}
.side-panel-dark .send-button {
  background-color: #424242;
  color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 6px rgba(0, 123, 255, 0.3);
  transition:
    background-color 0.3s ease,
    transform 0.3s ease;
}
.side-panel-dark .send-button:hover {
  background-color: #0056b3;
  transform: scale(1.1);
}
.side-panel-dark .history-entry {
  background-color: #424242;
  padding-bottom: 10px;
  border-radius: 10px;
}
.side-panel-dark .responseArea {
  flex: 1;
  background-color: #424242;
  border-radius: 10px;
  overflow-y: auto;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
}
.side-panel-dark .prompt {
  align-self: flex-start;
  background-color: #303030;
  padding: 10px;
  border-radius: 10px;
  margin-right: 2%;
  margin-bottom: 10px;
  max-width: 96%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.side-panel-dark .response {
  align-self: flex-end;
  background-color: #3a3737;
  padding: 10px;
  border-radius: 10px;
  margin-left: 1%;
  max-width: 96%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.side-panel-dark .copy-button {
  font-size: 12px;
  border: 0;
  background-color: transparent;
  color: #aaa;
  cursor: pointer;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.side-panel-dark .icon-svg {
  width: 20px;
  height: 20px;
}
.side-panel-dark .icon-svg-large {
  width: 24px;
  height: 24px;
}
.side-panel-dark .copy-button:hover {
  color: #0056b3;
  border-radius: 50%;
  background-color: #e2e6ea;
}
.side-panel-dark .thumbs-button {
  font-size: 12px;
  border: 0;
  background-color: transparent;
  color: #aaa;
  cursor: pointer;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.side-panel-dark .thumbs-button:hover {
  color: #0056b3;
  border-radius: 50%;
  background-color: #e2e6ea;
}

.side-panel-dark .button-container {
  display: flex;
  margin-top: 10px;
}
